.cdx-alert {
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
  height: auto;

  padding-top: 6px;
  margin-left: 32px;
  padding-left: 16px;

  border-left: 4px solid;
}

.cdx-alert--warning {
  border-left-color: #ffc55a;
}
.cdx-alert--error {
  border-left-color: #ff9a88;
}
.cdx-alert--success {
  border-left-color: #b2d46d;
}

.cdx-alert__desc_input[contentEditable="true"][data-placeholder]::before {
  position: absolute;
  top: 38px;
  height: 18px;
  z-index: 1;
  left: 18px;
  cursor: text;
}

.cdx-alert__desc_input:empty::before {
  content: attr(data-placeholder);
  opacity: 1;
}

.cdx-alert__desc_input[contentEditable="true"][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-alert__sideicon {
  position: absolute;
  top: 7px;
  z-index: 1;
  left: -34px;
}

.cdx-alert__sideicon svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.cdx-alert__sideicon--warning svg {
  fill: #ffc55a;
}

.cdx-alert__sideicon--error svg {
  fill: #ff9a88;
}

.cdx-alert__sideicon--success svg {
  fill: #b2d46d;
}

.cdx-alert__desc {
  min-height: 28px;
}

.cdx-alert__title {
  margin-bottom: 6px;
}

.cdx-alert__title_input--warning {
  /* background: #ffeed2; */
  color: #ce954e;
}

.cdx-alert__title_input--error {
  color: #fd9b8b;
  /* background: #ffdfd9; */
}

.cdx-alert__title_input--success {
  /* background: #ecf7d7; */
  color: #7aad79;
}

.cdx-alert__title_input {
  font-weight: bold;
  width: 30%;
  z-index: 1;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  font-size: 16px;
  background-image: none;
  transition: all 0.3s;
  outline: none;
  border: none;
}

.cdx-alert__title_input::placeholder {
  color: grey;
  font-style: italic;
}

.cdx-alert__desc_input--warning {
  /* background: #fff9ef; */
  color: #cea46f;
}

.cdx-alert__desc_input--error {
  /* background: #fff3f1; */
  color: #d28e86;
}

.cdx-alert__desc_input--success {
  /* background: #f8fded; */
  color: #85a785;
}

.cdx-alert__desc_input {
  display: block;
  line-height: 1.7;
  font-size: 15px;
  width: 100%;
  margin-top: 6px;
  margin-left: 1px;
  outline: none;
  box-sizing: border-box;
}

.custom-setting-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
}

.cdx-settings-button-icon svg {
  width: 17px;
  height: 17px;
}

.cdx-alert:focus-within .cdx-ctrlbreak-hint {
  opacity: 1;
}
