.cdx-alert {
  position: relative;
  margin-top: 25px;
  margin-bottom: 28px;
  height: auto;

  margin-left: 45px;
  padding-left: 16px;

  border-left: 4px solid;
}

.cdx-alert--warning {
  border-left-color: #ffc55a;
}
.cdx-alert--error {
  border-left-color: #ff9a88;
}
.cdx-alert--success {
  border-left-color: #b2d46d;
}

.cdx-alert__desc_input[contentEditable="true"][data-placeholder]::before {
  position: absolute;
  top: 38px;
  height: 18px;
  z-index: 1;
  left: 18px;
  cursor: text;
}

.cdx-alert__desc_input:empty::before {
  content: attr(data-placeholder);
  opacity: 1;
}

.cdx-alert__desc_input[contentEditable="true"][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-alert__sideicon {
  position: absolute;
  top: 5px;
  z-index: 1;
  left: -46px;
  width: 26px;
  height: 26px;
  border-radius: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdx-alert__sideicon--warning {
  background: #ffc55a;
}

.cdx-alert__sideicon--error {
  background: #ff9a88;
}

.cdx-alert__sideicon--success {
  background: #b2d46d;
}

.cdx-alert__sideicon svg {
  fill: white;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.cdx-alert__desc {
  min-height: 28px;
}

.cdx-alert__desc_input--warning {
  color: #cea46f;
}

.cdx-alert__desc_input--error {
  color: #d28e86;
}

.cdx-alert__desc_input--success {
  color: #85a785;
}

.cdx-alert__desc_input {
  display: block;
  line-height: 1.7;
  font-size: 15px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

.custom-setting-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
}

.cdx-settings-button-icon svg {
  width: 17px;
  height: 17px;
}

.cdx-alert:focus-within .cdx-ctrlbreak-hint {
  opacity: 1;
}
