.cdx-alert {
  position: relative;
  margin-top: 12px;
  margin-bottom: 20px;
  height: auto;
  min-height: 60px;
  padding-top: 12px;
}

.cdx-alert [contentEditable=true][data-placeholder]::before{
  position: absolute;
  top: 8px;
  width: 18px;
  height: 18px;
  z-index: 1;
  left: -26px;
}

.cdx-alert [contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-alert [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


@media all and (max-width: 735px) {
  .cdx-alert::before {
    display: none;
  }
}

.cdx-alert__sideicon {
  position: absolute;
  top: 8px;
  width: 18px;
  height: 18px;
  z-index: 1;
  left: -26px;
}

.cdx-alert__sideicon svg {
  cursor: pointer;
}

.cdx-alert__sideicon--warning svg {
  fill: #ffc55a;
}

.cdx-alert__sideicon--error svg {
  fill: #ff9a88;
}

.cdx-alert__sideicon--success svg {
  fill: #b2d46d;
}

.cdx-alert__desc {
  min-height: 60px;
}

.cdx-alert__title {
  margin-bottom: 6px;
}

.cdx-alert__title_input--warning {
  background: #ffeed2;
  color: #ce954e;
  border: 1px solid #ffeed2;
}

.cdx-alert__title_input--error {
  background: #ffdfd9;
  border: 1px solid #ffdfd9;
  color: #e66d5f;
}

.cdx-alert__title_input--success {
  background: #ecf7d7;
  border: 1px solid #ecf7d7;
  color: #7aad79;
}

.cdx-alert__title_input {
  position: absolute;
  border-radius: 3px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
  width: 30%;
  height: 32px;
  z-index: 1;
  top: 4px;
  min-width: 30%;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-top: -4px;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5;
  background-image: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cdx-alert__desc_input--warning {
  background: #fff9ef;
  color: #cea46f;
}

.cdx-alert__desc_input--error {
  background: #fff3f1;
  color: #d28e86;
}

.cdx-alert__desc_input--success {
  background: #f8fded;
  color: #85a785;
}

.cdx-alert__desc_input {
  display: block;
  line-height: 1.6;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 12px;
  padding-bottom: 10px;
}

.custom-setting-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  border-bottom-color: #f0f1f5;
  width: 100%;
  padding-bottom: 3px;
}